body {
    margin: 0;
    overflow-x: hidden;
    background: radial-gradient(circle at 20% 30%, #0c1442, transparent),
        radial-gradient(circle at 80% 70%, #07082e, transparent),
        radial-gradient(circle at 50% 50%, #05071a, transparent),
        radial-gradient(circle at 70% 20%, #040617, transparent);
    background-size: 200vw 200vh;
    animation: gradientAnimation 25s ease infinite;
    background-color: #040617;
}

@keyframes gradientAnimation {
    0% {
        background-position:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }

    25% {
        background-position:
            50% 0%,
            20% 0%,
            80% 0%,
            100% 0%;
    }

    50% {
        background-position:
            100% 0%,
            40% 0%,
            60% 0%,
            50% 0%;
    }

    75% {
        background-position:
            70% 0%,
            90% 0%,
            30% 0%,
            80% 0%;
    }

    100% {
        background-position:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

#typed {
    font-weight: bold;
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.star {
    position: absolute;
    background-color: #f5cb42;
    border-radius: 50%;
}

.typed-body {
    height: 100px;
    padding: 10px;
}

.typed-cursor {
    color: #f5cb42;
    font-size: 1.5em;
}

#kid-star {
    color: #f5cb42;
}

#scroll-down {
    animation: bounce 2.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    #kid-star {
        font-size: 34px !important;
    }
}
